In [1]:
import requests
import bs4

print(requests.__version__)
print(bs4.__version__)

2.31.0
4.12.3

In [2]:
URL = "https://www.naver.com/"

req = requests.get(URL)
print(req.status_code)

200

In [3]:
#req.text

In [4]:
from bs4 import BeautifulSoup 
import pandas as pd 

with open('index.html', 'r', encoding='UTF8') as f:

    # step 01: 데이터 수집
    contents = f.read()

    # step 02: 데이터 파싱(순수한 HTML파일을 BS객체로 변환)
    soup = BeautifulSoup(contents, 'lxml')
    # print(soup)
    
#     print(soup.h2)
#     print(soup.ul)
#     print("-----")
#    print(soup.ul.li)
    # 4개의 li 태그에 있는 회사명을 모두 가져오는 것이 목적

    # step 03: 데이터 수집을 위한 특정 태그 찾기
    companies = []
    print(soup.find_all('li'))

    # step 04: 데이터 가공
    for tag in soup.find_all('li'):
        companies.append(tag.text)
    print(companies)

    # step 05: 처리된 데이터 저장 pandas 데이터 프레임
    crawling_dict = {'회사명': companies}
    result = pd.DataFrame(crawling_dict)
    print(result)

    # step 06: csv 파일로 내보내기 or DB로 보내기
    result.to_csv("result.csv", index=False)

[<li>애플</li>, <li>삼성</li>, <li>노키아</li>, <li>LG</li>]
['애플', '삼성', '노키아', 'LG']
   회사명
0   애플
1   삼성
2  노키아
3   LG

In [6]:
import requests
from bs4 import BeautifulSoup
import pandas as pd 

def crawling(soup) :
    # print(soup)

    #tr태그가 너무 많으니까 상위태크인 tbody태그를 가져온다.
    #tbody 하나니까 find
    tbody = soup.find("tbody")
    #print(tobody) :중간점검
    result = []
    
    #여러개니까 find_all
    for p in tbody.find_all('p', class_ = 'title'):
        #print(p): 태그들 놓친 거 있는지 보기
        #웹사이트의 복잡도에 따라서 코드의 양도 늘어
        result.append(p.get_text().strip())
    return result

def main() :
    #referr: 네트워크에서 확인이 가능. 어디를 통해서 왔는가
    #user agent: 사용자 정보, 네트워크, header에서 볼 수 있음. 복붙
    custom_header = {
        'referer' : 'https://music.bugs.co.kr/',
        'user-agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36'
    }
    url = "https://music.bugs.co.kr/chart" # 크롤링 하려는 웹사이트
    req = requests.get(url, headers = custom_header)
    
    soup = BeautifulSoup(req.text, "html.parser")
    crawling(soup)

    titles = crawling(soup)
    print(pd.DataFrame({"노래제목" : titles}))


if __name__ == "__main__" :
    main()

                           노래제목
0                 Love wins all
1                          Wife
2                         To. X
3                      Love 119
4                          에피소드
..                          ...
95  머물러주오 (Prod. 안신애 & Philtre)
96                       운이 좋았지
97                      Snowman
98                Cool With You
99         사랑은 먼 길을 돌아온 메아리 같아서

[100 rows x 1 columns]

In [15]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import warnings
import time
import random

company_code = '005930' # 삼성전자
url ="https://finance.naver.com/item/sise_day.nhn?code=" + company_code
    
headers = { 
             'referer' : 'https://finance.naver.com/item/sise.naver?code=005930',
             'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36'
            }
response = requests.get(url, headers=headers)

url = 'https://finance.naver.com/item/sise.naver?code=005930&page=1'
req = requests.get(url, headers = headers)
soup = BeautifulSoup(req.content, "html.parser")
#soup

In [17]:
url = 'https://finance.naver.com/item/sise.naver?code=005930&page=1'
import warning
warning.filterwarning("ignore")

pd.read_html(req.text, encoding = "euc-kr")

C:\Users\twofi\AppData\Local\Temp\ipykernel_14248\294866168.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_html(req.text, encoding = "euc-kr")

[                    0                                        1  \
 0  전일  74,300  74,300  고가  74,00074,000  (상한가  96,50096,500  )
 1    시가  73,40073,400        저가  72,60072,600  (하한가  52,100  )

                              2
 0  거래량  11,565,496  11,565,496
 1   거래대금  847,797  847,797  백만  ,
            0            1       2           3
 0        현재가        72700    매도호가       72800
 1       전일대비    하락  1,600    매수호가       72700
 2     등락률(%)       -2.15%     전일가       74300
 3        거래량     11565496      시가       73400
 4   거래대금(백만)       847797      고가       74000
 5        액면가         100원      저가       72600
 6        NaN          NaN     NaN         NaN
 7        상한가        96500    전일상한       96700
 8        하한가        52100    전일하한       52100
 9        PER        15.45     EPS        4704
 10    52주 최고        79800  52주 최저       59000
 11      시가총액  4,340,032억원   상장주식수  5969782550
 12     외국인현재  3,249,098천주     자본금   778,046백만,
        매도잔량     매도호가  Unnamed: 2     매수호가      매수잔량
 0       NaN      NaN         NaN      NaN       NaN
 1   48280.0  73200.0         NaN      NaN       NaN
 2   74498.0  73100.0         NaN      NaN       NaN
 3   74357.0  73000.0         NaN      NaN       NaN
 4   89455.0  72900.0         NaN      NaN       NaN
 5   45837.0  72800.0         NaN      NaN       NaN
 6       NaN      NaN         NaN      NaN       NaN
 7       NaN      NaN         NaN      NaN       NaN
 8       NaN      NaN         NaN      NaN       NaN
 9       NaN      NaN         NaN  72700.0  315254.0
 10      NaN      NaN         NaN  72600.0  261816.0
 11      NaN      NaN         NaN  72500.0  334971.0
 12      NaN      NaN         NaN  72400.0  126040.0
 13      NaN      NaN         NaN  72300.0  131119.0
 14      NaN      NaN         NaN      NaN       NaN,
         0     1        2
 0  488184  잔량합계  1704208,
           0             1
 0      시가총액  434조  32  억원
 1    시가총액순위        코스피 1위
 2     상장주식수    5969782550
 3  액면가l매매단위   100원  l  1주,
              0           1
 0  외국인한도주식수(A)  5969782550
 1  외국인보유주식수(B)  3249098096
 2  외국인소진율(B/A)      54.43%,
            0                  1
 0  투자의견l목표주가  4.00매수  l  94,217
 1   52주최고l최저  79,800  l  59,000,
                    0                  1
 0   PERlEPS(2023.09)  15.45배  l  4,704원
 1          추정PERlEPS  16.00배  l  4,535원
 2  PBRlBPS (2023.09)     ∞배  l  52,068원
 3              배당수익률                NaN,
           0       1
 0  동일업종 PER  29.81배
 1  동일업종 등락률  -2.13%,
         매도잔량 호가(20분지연)       매수잔량
 0        NaN       NaN        NaN
 1    14994.0     73700        NaN
 2    30935.0     73600        NaN
 3    20639.0     73500        NaN
 4    53814.0     73400        NaN
 5    35375.0     73300        NaN
 6    48280.0     73200        NaN
 7    74498.0     73100        NaN
 8    74357.0     73000        NaN
 9    89455.0     72900        NaN
 10   45837.0     72800        NaN
 11       NaN       NaN        NaN
 12       NaN     72700   315254.0
 13       NaN     72600   261816.0
 14       NaN     72500   334971.0
 15       NaN     72400   126040.0
 16       NaN     72300   131119.0
 17       NaN     72200   133762.0
 18       NaN     72100   124948.0
 19       NaN     72000   132570.0
 20       NaN     71900   125456.0
 21       NaN     71800    18272.0
 22       NaN       NaN        NaN
 23  488184.0      잔량합계  1704208.0,
          업체명       거래량          전일비
 0       삼성전자   72600.0    하향  1,700
 1         기아  102800.0    상향  4,800
 2       제주은행   12600.0    상향  2,740
 3      NAVER  201000.0    하향  8,500
 4       천일고속   60900.0  상한가  14,000
 5        NaN       NaN          NaN
 6   POSCO홀딩스  427000.0    하향  1,500
 7        카카오   52400.0    하향  1,900
 8       삼성물산  137600.0    상향  7,900
 9        현대차  194800.0    상향  4,800
 10    두산로보틱스   69000.0    하향  3,000,
          업체명       거래량         전일비
 0         상보    2430.0     상향  340
 1      제주반도체   26350.0   하향  2,100
 2        HLB   67700.0   하향  2,100
 3     에코프로비엠  214500.0   하향  5,500
 4       에코프로  503000.0   하향  9,000
 5        NaN       NaN         NaN
 6     이스트소프트   34150.0  하향  10,300
 7   하이비젼시스..   24400.0   상향  4,990
 8     신성델타테크   76500.0     하향  700
 9      엔케이맥스    2135.0    하한가  910
 10        엔켐  159500.0  하향  13,800]

In [32]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import warnings
import time
import random
warnings.filterwarnings("ignore")

company_code = '005930' # 삼성전자
url ="https://finance.naver.com/item/sise_day.nhn?code=" + company_code
    
headers = { 
             'referer' : 'https://finance.naver.com/item/sise.naver?code=005930',
             'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36'
            }
N = 12
# pd.concat 으로 진행
df = None
for pageNum in range(1, N+1):
    url = f"https://finance.naver.com/item/sise_day.naver?code=005930&page={pageNum}"
    pd.read_html(req.text, encoding = "euc-kr")
    # print(url)

    req = requests.get(url, headers = headers)
    soup = BeautifulSoup(req.content, "html.parser")
    result = pd.read_html(req.text, encoding = 'euc-kr')[0]

    #print(result)
    #print(type(result))

    df =  pd.concat([df, result], ignore_index=True)

    df.dropna(inplace = True) #NaN값 지우기
    
df

             날짜       종가     전일비       시가       고가       저가         거래량
0    2024.01.31  72700.0  1600.0  73400.0  74000.0  72500.0  13080752.0
1    2024.01.30  74300.0   100.0  75000.0  75300.0  73700.0  12244418.0
2    2024.01.29  74400.0  1000.0  73800.0  75200.0  73500.0  13976521.0
3    2024.01.26  73400.0   700.0  73700.0  74500.0  73300.0  11160062.0
4    2024.01.25  74100.0   100.0  74200.0  74800.0  73700.0  11737747.0
..          ...      ...     ...      ...      ...      ...         ...
119  2023.08.10  68000.0   900.0  68300.0  68500.0  67800.0  10227311.0
120  2023.08.09  68900.0  1300.0  68000.0  69600.0  67900.0  17259673.0
121  2023.08.08  67600.0   900.0  69000.0  69100.0  67400.0  14664709.0
122  2023.08.07  68500.0   200.0  67700.0  69200.0  67600.0  10968505.0
123  2023.08.04  68300.0   500.0  68800.0  69100.0  68200.0  12360193.0

[120 rows x 7 columns]

In [33]:
# 강사님 코드

import requests
import pandas as pd
from bs4 import BeautifulSoup
import warnings
import time
import random
warnings.filterwarnings('ignore') 

def crawling(url, headers, soup):
    last_page = int(soup.select_one('td.pgRR').a['href'].split('=')[-1])
    
    df = None
    count = 0
    for page in range(1, last_page + 1):
      req = requests.get(f'{url}&page={page}', headers=headers)
      df = pd.concat([df, pd.read_html(req.text, encoding = "euc-kr")[0]], ignore_index=True)
      if count > 10:
        break
      count += 1
      time.sleep( random.uniform(2,4)) 

    df.dropna(inplace=True)
    df.reset_index(drop=True, inplace=True)
    
    return df

def main():
    company_code = '005930' # 삼성전자
    url ="https://finance.naver.com/item/sise_day.nhn?code=" + company_code
    
    headers = { 
             'referer' : 'https://finance.naver.com/item/sise.naver?code=005930',
             'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36'
            }
    response = requests.get(url, headers=headers)
    soup = BeautifulSoup(response.content, "html.parser")
    result = crawling(url, headers, soup)
    print(result)

if __name__ == "__main__":
    main()

             날짜       종가     전일비       시가       고가       저가         거래량
0    2024.01.31  72700.0  1600.0  73400.0  74000.0  72500.0  14874547.0
1    2024.01.30  74300.0   100.0  75000.0  75300.0  73700.0  12244418.0
2    2024.01.29  74400.0  1000.0  73800.0  75200.0  73500.0  13976521.0
3    2024.01.26  73400.0   700.0  73700.0  74500.0  73300.0  11160062.0
4    2024.01.25  74100.0   100.0  74200.0  74800.0  73700.0  11737747.0
..          ...      ...     ...      ...      ...      ...         ...
115  2023.08.10  68000.0   900.0  68300.0  68500.0  67800.0  10227311.0
116  2023.08.09  68900.0  1300.0  68000.0  69600.0  67900.0  17259673.0
117  2023.08.08  67600.0   900.0  69000.0  69100.0  67400.0  14664709.0
118  2023.08.07  68500.0   200.0  67700.0  69200.0  67600.0  10968505.0
119  2023.08.04  68300.0   500.0  68800.0  69100.0  68200.0  12360193.0

[120 rows x 7 columns]